<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
                layout:decorate="~{layout/basic.html">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">Board Register Page</h1>

    <form th:action="@{/board/register}" th:method="post">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Title">
      </div>

      <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="5" name="content"></textarea>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Writer</span>
        <input type="text" class="form-control" name="writer" placeholder="Writer"
                th:value="${#authentication.principal.username}" readonly>
      </div>

     <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </th:block>
  <script layout:fragment="script" th:inline="javascript">
    const auth = [[${#authentication}]]
    const errors = [[${errors}]]
    console.log(errors)
  </script>
</th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>